.App {
  text-align: center;
  color:darkslateblue;
}

label {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.errors {
  color: red;
}
.newUser {
  color: rgb(54, 107, 54);
}